body {
  margin: 0;
  height: 100vh;
  background: #85d2ff;
  background: linear-gradient(140deg, rgba(133, 210, 255, 1) 0%, rgba(199, 123, 243) 100%);
}
p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  margin: 0;
}
body,
.full-stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.full-stat-container {
  width: 50%;
  max-width: 400px;
  background-color: rgb(247, 247, 247);
  padding: 20px 15px;
  border-radius: 8px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  margin-top: -80px;
}
.page-title {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 27px;
}
.form-container {
  display: grid;
  grid-template-columns: 1fr 120px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  padding: 0 1rem;
}

.input-bar {
  border-radius: 4px;
  border: solid 1px rgb(229, 194, 250);
  height: 28px;
  padding-left: 10px;
  background-color: white;
  min-width: 120px;
}
.input-bar:active {
  outline-width: 1px;
}
.place-input::placeholder {
  color: rgb(161, 160, 160);
  font-weight: bold;
}
.btn {
  border: none;
  border-radius: 4px;
  background: #85d2ff;
  background: linear-gradient(140deg, rgb(75, 117, 141) 0%, rgb(127, 78, 155) 100%);
  color: rgb(252, 251, 251);
  font-weight: bold;
  padding: 8px 15px;
  cursor: pointer;
  transition: background 3s ease;
}
.btn:hover {
  background: #85d2ff;
  background: linear-gradient(140deg, rgb(44, 78, 97) 0%, rgb(62, 27, 82) 100%);
}
.place-name {
  font-weight: bold;
  font-size: 22px;
}
@media (max-width: 530px) {
  .form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .input-bar {
    width: 90%;
    margin-bottom: 10px;
  }
  .btn {
    width: 95%;
  }
}
