@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  font-family: ubuntu, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100%;
  overflow: hidden;
  /* background: rgb(91, 193, 252);
  background: linear-gradient(140deg, rgb(91, 193, 252) 0%, rgb(225, 91, 243) 100%);
  */
  background-image: url("wp10154411.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
p {
  text-align: center;
  font-size: 15px;
  margin-bottom: 5px;
  margin: 0;
  color: white;
  letter-spacing: 2px;
}
body,
.full-stat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.full-stat-container {
  width: 60%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);
  padding: 20px 27px 15px;
  border-radius: 8px;
  margin-top: -100px;
}
.page-title {
  /* Weather App */
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);
}
.form-container {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 30px;
  width: 100%;
  padding: 0 1rem;
}

.input-bar {
  border-radius: 4px;
  border: solid 1px rgb(248, 247, 248);
  background-color: rgba(255, 255, 255, 0.2);
  height: 37px;
  padding-left: 10px;
  min-width: 120px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}
.input-bar:focus {
  border-color: rgb(190, 195, 247);
  outline: none;
}
.input-bar::placeholder {
  color: rgb(255, 255, 255);
  font-weight: 300;
}
.btn {
  border: none;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
  color: rgba(60, 50, 77, 0.8);
  font-weight: bold;
  font-size: 14px;
  padding: 0px 15px;
  height: 41px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(60, 50, 77, 0.8);
  color: rgba(255, 255, 255, 0.8);
}
.place-name,
.error-mesg {
  font-weight: bold;
  font-size: 25px;
}
@media (max-width: 530px) {
  .form-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
  .input-bar {
    width: 90%;
    margin-bottom: 10px;
  }
  .btn {
    width: 95%;
    margin-bottom: 20px;
  }
}
.error-mesg {
  color: rgb(105, 0, 0);
  line-height: 16px;
  margin-top: 10px;
  display: none;
}
.request-text {
  margin:10px;
  font-size: 13px;
  font-weight: 300;
  color: rgb(37, 37, 37);
}
.loading-mesg {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  display: none;
  margin-top: 5px;
}

.bars {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 15px;
}
.bar {
  width: 10px;
  background-color: rgb(238, 238, 238);
  height: 3px;
  border-radius: 5px;
}
@media (max-width: 400px) {
  .bars {
    gap: 20px;
  }
}
.countryCodeBtn {
  margin: 5px 5px;
  border: none;
  border-radius: 3px;
  padding: 3px 10px;
  font-weight: bold;
  color: rgba(60, 50, 77, 0.8);
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  letter-spacing: 1px;
}

.countryCodeBtn:hover {
  background-color: rgba(60, 50, 77, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

.code-preferance-text {
  margin: 10px 0px 5px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  display: none;
}
